DB_HOST='localhost'
DB_PORT='5433'
DB_NAME='link_shortener'
DB_USER='admin'
DB_PASSWORD=

TEST_DB_PORT='5434'
TEST_DB_NAME='test_link_shortener'

ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=
ALGORITHM=HS256

REDIS_HOST='localhost'
REDIS_PORT='6379'
REDIS_DB='0'
REDIS_PASSWORD=

DATA_CACHE_TTL='3600'
USER_CACHE_TTL='1800'

RABBITMQ_HOST='localhost'
RABBITMQ_PORT='5672'
RABBITMQ_USER='admin'
RABBITMQ_PASSWORD=
RABBITMQ_VHOST='/'

PROMETHEUS_METRICS_ENDPOINT='/metrics'
PROMETHEUS_METRICS_PORT='8001'